################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
simple-monitor-in-csharp-ashwinashok9111993.sln
bin/Debug/net8.0/paradigm-shift-csharp.deps.json
bin/Debug/net8.0/paradigm-shift-csharp.dll
bin/Debug/net8.0/paradigm-shift-csharp.exe
bin/Debug/net8.0/paradigm-shift-csharp.pdb
bin/Debug/net8.0/paradigm-shift-csharp.runtimeconfig.json
obj/paradigm-shift-csharp.csproj.nuget.dgspec.json
obj/paradigm-shift-csharp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/paradigm-shift-csharp.AssemblyInfo.cs
obj/Debug/net8.0/paradigm-shift-csharp.AssemblyInfoInputs.cache
obj/Debug/net8.0/paradigm-shift-csharp.assets.cache
obj/Debug/net8.0/paradigm-shift-csharp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/paradigm-shift-csharp.csproj.FileListAbsolute.txt
obj/Debug/net8.0/paradigm-shift-csharp.dll
obj/Debug/net8.0/paradigm-shift-csharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/paradigm-shift-csharp.genruntimeconfig.cache
obj/Debug/net8.0/paradigm-shift-csharp.pdb
obj/Debug/net8.0/paradigm-shift-csharp.sourcelink.json
obj/Debug/net8.0/ref/paradigm-shift-csharp.dll
obj/Debug/net8.0/refint/paradigm-shift-csharp.dll
obj/paradigm-shift-csharp.csproj.nuget.dgspec.json
obj/paradigm-shift-csharp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/paradigm-shift-csharp.assets.cache
obj/Debug/net8.0/paradigm-shift-csharp.csproj.FileListAbsolute.txt
